<h2>Suggest a Hobo or a Hipster</h2>

<%= semantic_form_for @entry, :html => {:multipart => true} do |f| %>
  <ul>
  	<%=f.input :submitter, :label => "Your name" %>

  	<%=f.input :name, :hint => 'Give this lovable scamp a clever nickname, and see if they can hack it in the rough world of hipster vs. hobo.' %>
	
  	<%=f.input :source_name, :hint => 'All hipsters believe in fair attribution. Who\'s photobucket did you drag this Urban Outfitters reject out of?' %>
	
  	<%=f.input :image_url, :label => 'Image URL' %>
  	<li class="or">&mdash; or &mdash;</li><!-- Ugly, but less bad than other options which are equally lazy -->
  	<%=f.input :image, :label => 'Upload a file' %>
	
  	<li><%=f.submit 'Suggest!'%></li>
	</ul>
<% end %>